<?xml version="1.0"?>
<web-app
     xmlns="http://java.sun.com/xml/ns/j2ee"
     xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
     xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee 
        http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
     version="2.4">
   <servlet>
  	 <servlet-name>home</servlet-name>
  	 <servlet-class>bookTracker.web.HomeServlet</servlet-class>
   </servlet>
   <servlet-mapping>
   	 <servlet-name>home</servlet-name>
   	 <url-pattern>/home</url-pattern>
   </servlet-mapping>
   <servlet>
      <servlet-name>news-feed</servlet-name>
      <servlet-class>bookTracker.web.NewsFeedServlet</servlet-class>
   </servlet>
   <servlet-mapping>
      <servlet-name>news-feed</servlet-name>
      <url-pattern>/news.rss</url-pattern>
   </servlet-mapping>
   <listener>
   	  <listener-class>bookTracker.web.Init</listener-class>
   </listener>
</web-app>
